*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

nav{
  height: 80px;
  background-color: rgb(197, 167, 231);
}

header{
  height: 500px;
  background-color: rgb(77, 114, 171);
}

aside{
  float: right;
  height: 400px;
  width: 30%;
  background-color: rgb(94, 48, 130);
}

section{
  float: right;
  height: 400px;
  width: 70%;
  background-color: rgb(221, 161, 168);
}

footer{
  clear: right;
  height: 400px;
  background-color: rgb(41, 247, 124);
}

.flut {
  padding: 40px;
  background-color: rgb(74, 11, 52);
  overflow: auto;
}

.flut > .box {
  width: 300px;
  height: 300px;
  float: left;
  background-color: rgb(146, 123, 149);
}

/* .clearfix {
  clear: both;
} */
